body{ background: url(imeges/Fon.png) center repeat scroll;	
}
#button_temp{ position: absolute; left: 850px; top: 100px; font-size: 18px; border: 1.5px black solid;
} 
#button_plus{ position: absolute; left: 850px; top: 18px; border: 1.5px black solid; 	
}
#button_minus{ position: absolute; left: 850px; top: 58px; border: 1.5px black solid; 
}
#ind_temp{ position: absolute; left: 900px; top: 18px; border: 1.5px black solid; font-size: 507%; background-color: #DDDDDD;
}
#water_sensor{ position: absolute; left: 850px; top:  185px; border: 1.5px black solid; font-size: 18px;
               background-color: #DDDDDD; font-family: sans-serif;
}


#button_plus:hover {background-color: #FE4A4A;} 
#button_minus:hover {background-color: #8F54BA;}
#button_temp:hover {background-color: #00FF00;}
#water_sensor:hover {background-color: #00FF00;}

